.mod-traffic_exchange,.traffic-exchange {
    background: #fcf2d8;
    border-top-style: solid;
    border-top-color: #6c2f00;
    border-top-width: 1px;
}
.mod-traffic_exchange .text,.traffic-exchange .text {
    background: #fcf2d8;
    font-size: 16px;
    height: 40px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    max-width: 300px;
}
.mod-traffic_exchange a,.traffic-exchange a {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
}
.mod-traffic_exchange,.traffic-exchange {
    background: url(http://traffic-exchange.kuaizhan.com/static/image/array.png) no-repeat 98% center;
    -webkit-background-size: 5px auto;
    background-color: #fcf2d8;
}
