/*整体页面头部*/
.phone-header {
    background: #202b30;
}
/*整体页面主体*/
.phone-main {
    background: #243039;
}
/*整体页面脚部*/
.phone-footer {
    background: #243039;
}
/*mod-themenav2 ,  mod-themenav1  内置导航组件
 mod-nav-theme1  导航组件（可拖拽和删除的）
*/
.mod-nav,.mod-title{
    background:#192128;
}
.mod-nav ul{
    padding:0 18px;
    box-sizing:border-box;
}
.mod-themenav2,
.mod-themenav1,
.mod-nav.t1,
.mod-nav-theme1 {
    background: #192128;
    border-top: solid 1px #49525b;
    border-bottom:solid 2px #2eb1f0;
    margin: 0;
    position: relative;
}
.mod-themenav2{
    position:fixed;
}
.mod-themenav3 li{
    background: #192128;

    border-bottom:solid 1px #49525b;
}
.mod-themenav3 li a{
    color: #d7d8d9;
}
.mod-themenav2::before,
.mod-themenav1::before,
.mod-nav.t1::before ,
.mod-nav-theme1::before {
   display:none;
}

.mod-themenav2::after,
.mod-themenav1::after,
.mod-nav.t1::after,
.mod-nav-theme1::after {
    display:none;
}
.mod-nav.t2 a,
.mod-themenav2 a,
.mod-themenav1  a,
.mod-nav.t1 a,
.mod-nav-theme1 a {
    color: #d7d8d9;
    border: none;
}

.mod-themenav2 a:hover,
.mod-themenav1 a:hover,
.mod-nav.t1 a:hover,
.mod-nav.t2 a:hover,
.mod-nav-theme1 a:hover {
    color: #d7d8d9;
}

.mod-themenav2 .cur a,
.mod-themenav1 .cur a,
.mod-nav.t1 .cur a,
.mod-nav.t2 .cur a,
.mod-nav-theme1 .cur a {
    color: #d7d8d9;
}
 /*导航组件中当前选中的导航项*/
.mod-nav.t1 .cur,
.mod-nav-theme1 .cur {
    border-radius:30px;
    background:#2eb1f0;
}
.mod-nav.t2 .cur,
.mod-nav-theme2 .cur {
    border-bottom:solid 2px #2eb1f0;

}
.mod-themenav2 .cur::before,
.mod-themenav1 .cur::before,
.mod-nav.t1 .cur::before,
.mod-nav-theme1 .cur::before {
   display:none;
}

.mod-themenav2  .cur a,
.mod-themenav1  .cur a,
.mod-nav.t1 .cur a ,
.mod-nav-theme1 .cur a {
    width: auto;
}

.mod-themenav2 .cur::after,
.mod-themenav1 .cur::after,
.mod-nav.t1 .cur::after,
.mod-nav-theme1 .cur::after {
    display:none;
}
/*系统内置导航组件4*/
.mod-themenav2 .dropbox ,.mod-themenav1 .dropbox, .mod-themenav4 .dropbox {
    background-color: rgba(33, 41, 49 ,.9);
    color: #dedede;
    border:solid 1px rgba(205,205,205,.5);
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: normal;
    z-index: 100;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.6);

}

.mod-themenav4 .dropbox li,.mod-themenav2 .dropbox li,.mod-themenav1 .dropbox li{
    border-top-color:#48525a;
}
.mod-themenav1 .dropbox a, .mod-themenav2 .dropbox a, .mod-themenav4 .dropbox a{
    color:#dedede;
}
.mod-themenav4 .dropbox::before,.mod-themenav2 .dropbox::before,.mod-themenav1 .dropbox::before {
    display:none;
}

.mod-themenav4 .dropbox::after,.mod-themenav2 .dropbox::after,.mod-themenav1 .dropbox::after {
    display:none;
}
.mod-themenav2 .more i,.mod-themenav1 .more i,.mod-themenav4 .more i{
    background:#fff;
}
.mod-themenav1 .ico-arrow-bd,.mod-themenav4 .ico-arrow-bd {
    border-color: transparent transparent rgba(205,205,205,.5) transparent;
}
.mod-themenav2 .ico-arrow-bd {
    border-color:  rgba(205,205,205,.5) transparent transparent transparent;
}
/*按钮组件*/
.mod-button a {
    overflow: visible;
    width:80%;
}

.mod-button {


}

.mod-button::before {
    display:none;
}

.mod-button::after {
    display:none;
}


 /*
 按钮组件的6中样式，没有按标准来定义，分别为
 btn-highlight
 btn-highlight-theme
 btn-flat btn-flat-theme
 btn-gradient
 btn-gradient-theme
 */
.btn-highlight, .btn-highlight-theme {

    height: 42px !important;
    line-height: 42px !important;
    color:#eaeaea;
    border:solid 1px #0d71e1 ;
    border-radius: 21px;
    position: relative;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#55c8ff), to(#2eb1f0),color-stop(10%, #2eb1f0),color-stop(30%, #2699d1));
}

.btn-highlight-theme {
    background:#2ca7e2;
    border:none;
}

.btn-highlight:hover, .btn-highlight-theme:hover {

    color: #fff;

}

.btn-highlight::before, .btn-highlight-theme::before {
    display:none;
}

.btn-highlight-theme::before {
    display:none;
}

.btn-highlight::after, .btn-highlight-theme::after {
    display:none;
}

.btn-highlight-theme::after {
   display:none;
}

.btn-flat, .btn-flat-theme {

    height: 42px !important;
    line-height: 42px !important;
    border:solid 1px #0082c0;
    color:#eaeaea;
    border-radius: 21px;
    position: relative;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0e77a8), to(#0d5c82),color-stop(10%, #105178),color-stop(87%, #196d94));
}

.btn-flat-theme {
   background:#254f76;

    border:solid 1px #254f76;
}

.btn-flat:hover, .btn-flat-theme:hover {

    color: #fff;

}

.btn-flat::before, .btn-flat-theme::before {
    display:none;
}

.btn-flat-theme::before {
    display:none;
}

.btn-flat::after, .btn-flat-theme::after {
    display:none;
}

.btn-flat-theme::after {
    display:none;
}

.btn-gradient, .btn-gradient-theme {

    height: 42px !important;
    line-height: 42px !important;
    color:#eaeaea;

    border-radius: 21px;
    position: relative;


    background:#346088;
    border:solid 1px #005983;
    box-shadow: inset 1px 2px 2px #2481ae;
}

.btn-gradient-theme {
    background: #1e648d;
    border:solid 1px #0d71e1 ;
    box-shadow:none;
}

.btn-gradient:hover, .btn-gradient-theme:hover {

    color: #fff;

}

.btn-gradient::before, .btn-gradient-theme::before {
    display:none;
}

.btn-gradient-theme::before {
    display:none;
}

.btn-gradient::after, .btn-gradient-theme::after {
    display:none;
}

.btn-gradient-theme::after {
    display:none;
}

/*
导航组件:
旧样式编写 mod-nav-theme1 mod-nav-theme2   mod-nav-theme3
为了兼容旧样式规则所以增量添加，
新样式规则为mod-nav.t1 mod-nav.t2 mod-nav.t3

*/
.mod-nav-theme2 ,.mod-nav.t2{
   border-bottom:solid 1px #2eb1f0;
    border-top:none;
}


.mod-nav.t2::before,
.mod-nav-theme2::before {
    display: none

}
.mod-nav.t2::after,
.mod-nav-theme2::after {
    display:none;
}


.mod-nav.t2 .cur a,
.mod-nav-theme2 .cur a {
    color: #d7d8d9;
}

.mod-nav.t2 .cur::before,
.mod-nav-theme2 .cur::before {
    display:none;
}
.mod-nav.t2 .cur::after,
.mod-nav-theme2 .cur::after {
    display:none;
}
.mod-nav.t3,
.mod-nav-theme3 {

    background: #192128;
    border-top: solid 1px #49525b;

    margin: 0;
    position: relative;


}
.mod-nav.t3 .cur, .mod-nav-theme3 .cur{
    border-radius:30px;
    border:solid 1px #2eb1f0;
}
.mod-nav.t3 li, .mod-nav-theme3 li {
    height: 36px;
    margin-top: 5px;
    line-height: 36px;
}
.mod-nav.t1 li, .mod-nav-theme1 li{
    height: 36px;
    margin-top: 5px;
    line-height: 36px;
}
.mod-nav.t3::before ,
.mod-nav-theme3::before {
    display:none;

}
.mod-nav.t3::after,
.mod-nav-theme3::after {
    display:none;
}
.mod-nav.t3 a,
.mod-nav-theme3 a {
    border:none;
    color:#d7d8d9;
}
.mod-nav.t3 a:hover,
.mod-nav-theme3 a:hover {
    color: #d7d8d9;
    border:none;
}
.mod-nav.t3 .cur a,
.mod-nav-theme3 .cur a {
    color: #d7d8d9;
}
.mod-nav.t3 .cur + li a,
.mod-nav-theme3 .cur + li a {
   border:none;
}

.mod-layout_floor {
    background: transparent !important;
    margin: 0;
    position: relative;
}
.mod-layout_floor .mod-title.t0 h2{
    margin-left:0px;
}

.mod-layout_floor::before {
    display:none;

}



.mod-layout_floor::after {
    display:none;
}

.mod-title.t0 {
    position: relative;

    padding-left: 0px;
    border-top:none;
    border-bottom:solid 1px #2eb1f0;
    margin:0;
    position: relative;
    text-align: left;
}
.mod-title.t0 h2::after {
    display: none;
}

.mod-title.t0::before {
    display:none;

}

.mod-title.t0::after {
    display:none;
}

.mod-title h2 {
    margin-left:18px;
    text-align: left;
    color:#ffffff;
}
.configurator .mod-title{
    line-height:100%;
}
.mod-title.t1 {
    position: relative;
    padding: 10px;
    margin:0;

}

.mod-title.t1::before {
    -webkit-transform:none;
    content: ".";
    font-size: 0px;
    text-align: center;
    width: 18px;
    position: absolute;
    height: 18px;
    background: url('../images/share.png') no-repeat -36px -61px;
    background-size: 185px auto;
    left: 10px;
    top: 50%;
    margin-top: -9px;

}

.mod-title.t1::after {
    display:none;
}

.mod-title.t1 h2 {
    text-align: left;
    margin-left: 5px;
    border: none;
    display:inline-block;
    color:#ffffff;
}

.mod-title.t1 h2::after {
    content: ".";
    font-size: 0;
    position: absolute;
    left: 100%;
    top: 50%;
    height: 3px;
    width: 1000px;
    background: #25789f;
}

.mod-title.t2 {
    background: #192128;
    border-bottom: solid 1px #2eb1f0;
    border-top: none;
    text-align: left;
    padding: 10px 0px 0px 0px;

}
.mod-title.t2 h2 {
    position: relative;
    border-bottom: solid 2px #2eb1f0;
    display: inline-block;
    top: 0px;
    padding: 0px 18px 10px 18px;
    margin-left: 0px;
}


.mod-title.t3::before{
    -webkit-transform:none;
    content: ".";
    font-size: 0px;
    text-align: center;
    width: 18px;
    position: absolute;
    height: 18px;
    background: url(../images/share.png) no-repeat 0px -61px;
    background-size: 185px auto;
    left: 10px;
    top: 50%;
    margin-top: -9px;
}
.mod-title.t3{
    padding:0;
}
.mod-title.t3 h2 {
    position: relative;
    display: inline-block;
    top: 0px;
    padding: 8px 8px 8px 18px;
}

.mod-title.t3 h2::after {
    display: none;
}


.mod-title.t4 {

    border: none;
    padding:10px 0px;
}

.mod-title.t4::before {
    content: ".";
    font-size: 0px;
    text-align: center;
    width: 18px;
    position: absolute;
    height: 18px;
    background: url(../images/share.png) no-repeat -18px -61px;
    background-size: 185px auto;
    left: 10px;
    top: 50%;
    margin-top: -9px;

}

.mod-title.t4::after {
    display:none;
}

.mod-title.t4 h2 {
    text-align: left;
    padding: 0px 0px 0px 18px;
    display: block;
    border: none;
}
.mod-title{
    margin: 0;
}


.mod-pictxt {

}
/*.mod-pictxt li:nth-child(1)::before {
    content: ".";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #2eb1f0;
    left: 0px;
    top: 0px;
    font-size:0;
}
.mod-pictxt li:nth-child(1) {
    position:relative;
}*/
.mod-pictxt::before {
    display:none;
}

.mod-pictxt::after {
    display:none;
}





.mod-link, .mod-link a {
    color: #1290cd;
    position: relative;
}


.mod-link::before {
   display:none;
}

.mod-link::after {
    display:none;
}

.mod-link.t1:before, .mod-link.t3:after{
    display:block;
    color: #2ca7e2;

}
.mod-link.t2:before{
    display:block;
    background-color:#2ca7e2;
}
.configurator .mod-link::before, .configurator .mod-link::after, .mod-pictxt.t1 h3, .mod-pictxt1 h3{
    color: #2ca7e2;
}

/*图片*/
.mod-picone {
    position: relative;
    margin:0 5px;
}

.mod-picone::before {
    display:none;
}

.mod-picone::after {
    display:none;
}
.phone-header .mod-picone {
    margin: 0;
    box-shadow: none;
    border: none;
    padding: 0;
}

/*图集*/
.mod-picgroup {
   margin:0 5px;
    padding:0;
}

.mod-picgroup::before {
    display:none;
}

.mod-picgroup::after {
    display:none;
}

.mod-picgroup li img{
    border-radius:2px;
}

/*图集下：两列布局，3列布局*/
.mod-picgroup .pic-gp2 li {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 50%;
    padding-bottom: 3%;
}

.mod-picgroup .pic-gp2 li:nth-child(odd) {
    padding-right: 1.5%;
}

.mod-picgroup .pic-gp2 li:nth-child(even) {
    padding-left: 1.5%;
}

.mod-picgroup .pic-gp2 li:nth-last-child(1) {
    padding-bottom: 0;
}

.mod-picgroup .pic-gp2 li:nth-last-child(2) {
    padding-bottom: 0;
}
/*组图（焦点图）*/
.mod-focus {

}
.mod-focus .focus-ctr span{
    background:#fff;
}
.mod-focus .focus-ctr .cur {
      background-color: #1290cd;
  }
.mod-focus::before {
    display:none;
}

.mod-focus::after {
    display:none;
}



/*地图组件*/
.mod-map {

}

.mod-map::before {
    display:none;
}

.mod-map::after {
    display:none;
}



/*文本组件*/
.mod-para,.mod-text {
    color: #c7c9cc;
}

.mod-text::before {
    display:none;
}

.mod-text::after {
    display:none;
}
/*
配置窗口的文本组件
*/
.configurator .mod-text, .configurator .mod-text,
.site-title .mod-text,
.kz-footer .mod-text {
    margin: 0;
    box-shadow: none;
    border: none;
    padding: 0;
    background: transparent;
    border-radius: 0;
}

.mod-pictxt h3, .mod-pictxt1 h3{
    color:#fff;
}
.mod-pictxt ul li {
    padding: 14px 14px;
    background: none!important;
}
.mod-pictxt.t1 .no-pic, .mod-pictxt1 .no-pic{
    padding-left:14px;
}
.mod-pictxt {
     padding: 0 0px;
}

.mod-pictxt p{
    color:#c7c9cc;
}
.mod-pictxt .time{
    color:#79848b;
}
.mod-pictxt h2{
    color:#fff;
}
.mod-pictxt h2 .font-ico{
    color:#fff;
}
.mod-pictxt.t1 .pic, .mod-pictxt.t1 .pic img, .mod-pictxt1 .pic, .mod-pictxt1 .pic img{
    border-radius:2px;
}
.mod-pictxt li{
    border-top-color:#49525b;
}
/*组图*/

.mod-picgroup .pic-gp3 li {
    padding: 1% 0;
    width: 32%;
}

.mod-picgroup .pic-gp3 li:nth-child(3n+2) {
    padding: 1% 2%
}
/*二维码*/
.mod-qrcode {

    position: relative;

}

.mod-qrcode::before {
    display:none;
}

.mod-qrcode::after {
    display:none;
}



/*表单组件*/
.crow-form-box input, .crow-form-box textarea {
    border: solid 1px #2eb1f0;
    padding: 15px;
    border-radius: 20px;
    box-shadow: none;
    font-size:14px;
    background:transparent;
}
.crow-form-box input:hover, .crow-form-box textarea:hover{
    box-shadow:none;
}
.crow-form-box ::-webkit-input-placeholder { color:#c7c9cc; }
.mod-form .crow-form-box{
    padding:5px 0px;
}
.mod-form {
   margin:0 10px;
}

.mod-form::before {
    display:none;
}
.mod-divider hr{
    background:#49525b;
}
.mod-form::after {
    display:none;
}
.mod-form .crow-form-box p{
   color: #c7c9cc;
}
.mod-share {

    text-align: left;
    padding-left: 14px;

}
.mod-share .hd{
    background: none;
    color: #79848b;
    font-size: 20px;
    line-height: 40px;
    width:66px;
}
.mod-share .hd::after {
    content: "到:";
    font-size: 20px;
}
.mod-share a{
    background:url("../images/share.png") no-repeat;
    background-size: 185px auto;
    width:37px;
    height:37px;

}
.mod-share .qzone {
    background-position: -37px 0;
}
.mod-share .sina {
    background-position: -0px 0;
}
.mod-share .renren {
    background-position: -74px 0;
}
.mod-share .douban {
    background-position: -148px 0;
}
.mod-share .sohu{
    display:none;
}
.mod-share .qqweibo {
    background-position: -111px 0;
}

.mod-themenav2 .more i,.mod-themenav1 .more i,.mod-themenav4 .more i{
    background:#fff;
}
.mod-themenav1 .ico-arrow-bd,.mod-themenav4 .ico-arrow-bd {
    border-color: transparent transparent rgba(205,205,205,.5) transparent;
}
.mod-themenav2 .ico-arrow-bd {
    border-color:  rgba(205,205,205,.5) transparent transparent transparent;
}
.mod-pictxt .mod-button a{
    width:100%;
}
